body{    
    font-family: 'Source Code Pro', monospace;
}

h1{
    font-family: 'Play', sans-serif;
}

.img-main{
  
    min-height: 30rem;
    height: auto;
    width: 100%;
    
    margin-bottom: 5rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    
    position: relative;
    display: block;
    overflow: hidden;

    background: url("../img/main-edit.jpg") fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    
}
.footer{
    margin-top: 10%;
    text-align: center;
    background-color: rgb(172, 172, 172);
    padding: 10px;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
}

.user { 
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: 2px solid;
    border-radius: 50%;
    box-shadow: 5px 10px 18px #000000;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    object-fit: cover;
}
  
.content {
    /* background: rgba(255, 255, 255, 0.35);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); */
    padding: 10px;
    margin-right: 50px;    
    margin-left: 50px;
    color: white;
  }