@import "../libs/bootstrap/scss/bootstrap.scss";
@import "../libs/stylish-portfolio/scss/stylish-portfolio.scss";

$cover: cover;
$size: 100%;

body{
    font-family: 'Source Code Pro', monospace;
}

h1{
    font-family: 'Play', sans-serif;
}

a{
    outline:none !important;
}

.size-all{
    width: $size;
    height: $size;
    padding: 8%;
    display: table;
}
.comming-soon{
    text-align: center;
    font-size: 30px;
    background-color: brown;
    border: 0 solid black;
    box-shadow: 5px 10px 18px #000000;
    background-size: $cover;
    -webkit-background-size: $cover;
    -moz-background-size: $cover;
    -o-background-size: $cover;
}

.skills{
    color: #000000;
    background-color: seagreen;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: $cover;
    -webkit-background-size: $cover;
    -moz-background-size: $cover;
    -o-background-size: $cover;
}

.portfolio{
    color: #000000;
    background-color: steelblue;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: $cover;
    -webkit-background-size: $cover;
    -moz-background-size: $cover;
    -o-background-size: $cover;
}

.about-me{
    color: #000000;
    background-color: coral;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: $cover;
    -webkit-background-size: $cover;
    -moz-background-size: $cover;
    -o-background-size: $cover;
}


.v-align{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.img-main{
    width: $size;
    height: $size;

    background: url("../img/main-three.jpg") fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: $cover;
    -webkit-background-size: $cover;
    -moz-background-size: $cover;
    -o-background-size: $cover;

}

.footer{
    color: #000000;
    background-color: #1D809F;
    text-align: center;
    padding: 20px;
    width: $size;
    left: 0;
    bottom: 0;
    position: static;
}

.content {
    padding: 10px;
    /* margin-right: 50px;
    margin-left: 50px; */
    color: black;
}

.user {
    width: 350px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid;
    border-radius: 50%;
    box-shadow: 5px 10px 18px #000000;

    background-repeat: no-repeat;
    background-position: center;
    background-size: $cover;

    object-fit: $cover;
}

.name{
    font-size: 60px;
    margin-bottom: 50px;
}

.btn3d {
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border: 0px;
    margin-top: 15px;
}

.btn3d:focus {
    outline:medium none;
    -moz-outline-style:none;
}

.btn3d:active {
    top:9px;
}

.img-skill{
    width: 400px;
    margin: 25px;
}

hr{
    border-color: darkcyan;
    box-sizing:border-box;
    width:$size;  
}

@media screen and (max-width: 1000px){
    .img-skill{
        width: 200px;
        margin: 15px;
    }
}

@media screen and (max-width: 550px){
    .user {
        width: 180px;
        height: 180px;
        display: block;
        /* margin-left: auto;
        margin-right: auto; */

        border: 1px solid;
        border-radius: 50%;
        box-shadow: 5px 10px 18px #000000;

        background-repeat: no-repeat;
        background-position: center;
        background-size: $cover;

        object-fit: $cover;
    }
    .name{
        font-size: 20px;
    }

    .img-skill{
        width: 150px;
        margin: 15px;
    }
}