body{
    font-family: 'Source Code Pro', monospace;
}

h1{
    font-family: 'Play', sans-serif;
}

a{
    outline:none !important;
}

.size-all{
    width: 100%;
    height: 100%;
    /* padding: 8%; */
    display: table;
}

.img-main{
    width: 100%;
    height: 100%;

    background: url("../img/main-three.jpg") fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

.about-me{
    color: #000000;
    background-color: coral;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.portfolio{
    color: #000000;
    background-color: lightskyblue;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.skills{
    color: #000000;
    background-color: darkseagreen;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.comming-soon{
    font-size: 30px;
    background-color: brown;
    border: 0 solid black;
    box-shadow: 5px 10px 18px #000000;
}

.v-align {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.footer{
    color: #000000;
    background-color: #1D809F;
    text-align: center;
    padding: 20px;
    width: 100%;
    left: 0;
    bottom: 0;
    position: static;
}

.user {
    width: 350px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid;
    border-radius: 50%;
    box-shadow: 5px 10px 18px #000000;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    object-fit: cover;
}

@media screen and (max-width: 480px){
    .user {
        width: 180px;
        height: 180px;
        display: block;
        /* margin-left: auto;
        margin-right: auto; */

        border: 1px solid;
        border-radius: 50%;
        box-shadow: 5px 10px 18px #000000;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        object-fit: cover;
    }
    .title{
        font-size: 20px;
    }
}

@media screen and (max-width: 270px){
    .title{
        font-size: 10px;
    }
}

.content {
    padding: 10px;
    /* margin-right: 50px;
    margin-left: 50px; */
    color: black;
}

.title{
    font-size: 50px;
    margin-bottom: 50px;
}

.btn3d {
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border: 0px;
    margin-right: 10px;
    margin-top: 15px;
}

.btn3d:focus {
    outline:medium none;
    -moz-outline-style:none;
}

.btn3d:active {
    top:9px;
}